@model MvcProje.Models.Entity.TblUrunler
@{
    ViewBag.Title = "UrunEkle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form method="post" class="form-group">
    <div>
        <label>Ürün Adı</label>
        <input type="text" class="form-control" name="URUNAD" />
    </div>
    <div>
        <label>Adı</label>
        <input type="text" class="form-control" name="AD" />
    </div>
    <div>
        <label>Kategori Seçiniz</label>
        @Html.DropDownListFor(m=>m.TblKategoriler.KATEGORIID,(List<SelectListItem>)ViewBag.dgr,new {@class="form-control" })
    </div>
    <div>
        <label>Fiyatı</label>
        <input type="text" class="form-control" name="FIYAT" />
    </div>
    <div>
        <label>Stok Adet</label>
        <input type="text" class="form-control" name="STOK" />
    </div>
    <div>
        <button class="btn btn-info">Ürün Ekle</button>
    </div>
</form>

