@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form action="Home/Giris" method="post">
        <div class="form-group">
            <label for="formGroupExampleInput">ID</label>
            <input type="text" class="form-control" id="formGroupExampleInput" name="id" placeholder="ExampleInput">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">ŞİFRE</label>
            <input type="password" class="form-control" id="formGroupExampleInput2" name="sifre" placeholder="AnotherInput">
        </div>
        <input type="submit" class="btn btn-success" value="GİRİŞ YAP" />
</form>

@*<!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
    </head>
    <body>
        @*<div>
            ViewBag İsim:@ViewBag.İsim
            ViewData İsim: @ViewData["ad"]
        </div>*@
@*</body>
</html>*@


